#logo {
    height: 50px;
    width: 90px
}

#profileNavLogo {
    height: 40px;
    width: 40px;
}

#navbar {
    margin-bottom: 0;
}

.underline-hover-effect {
    text-decoration: none;
    color: inherit;
    padding: 15px;
  }
  
  .underline-hover-effect {
    display: inline-block;
    padding-bottom: 0.25rem; /* defines the space between text and underline */
    position: relative;
  }
  .underline-hover-effect:hover{
    color:red;
  }
  .underline-hover-effect::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #154c79;
    transition: width 0.25s ease-out;
  }
  .underline-hover-effect:hover::before {
    width: 100%;
  }